@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>All uploaded tracks will be displayed here in the future.</p>
</div>

<div class="upload-area">
    <input id="audio_file" type="file" accept="audio/*"/>
    <p>
        <audio controls id="audio_player">
        </audio>
    </p>
</div>

@section Scripts
{
    <script type="text/javascript" language="javascript">
        audio_file.onchange = function() {
            var files = this.files;
            var file =  URL.createObjectURL(files[0]);
            audio_player.src = file;
            audio_player.play();
        }
        
    </script>
}